{% extends "layouts/app.html" %}
{% block title %}Users{% endblock %}
{% block content %}
    {% include "partials/navbar.html" %}
    <section class="container mt-5">
        <div class="row justify-content-between mb-5">
            <div class="col-10">
                <a href="{{ url_for('user.index') }}" class="btn btn-dark btn-sm"><i class="fas fa-arrow-left"></i>
                    Back to users</a>
            </div>
            <div class="col-2">
            </div>
        </div>
        <table class="table table-dar table-striped">
            <thead>
            <tr>
                <th scope="col" class="text-center">RANK</th>
                <th scope="col" class="text-center">Username</th>
                <th scope="col">Total</th>
                <th scope="col">Girls</th>
                <th scope="col">Boys</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-center">{{ loop.index }}</td>
                    <td class="text-center">{{ user.username }}</td>
                    <td>{{ "{:,}".format(user.total) }}</td>
                    <td>{{ "{:,}".format(user.females) }}</td>
                    <td>{{ "{:,}".format(user.males) }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2" class="text-center">TOTALS</th>
                <th rowspan="">{{ "{:,}".format(users | sum(attribute='total')) }}</th>
                <th rowspan="">{{ "{:,}".format(users | sum(attribute='females')) }}</th>
                <th rowspan="">{{ "{:,}".format(users | sum(attribute='males')) }}</th>
            </tr>
            </tbody>
        </table>
    </section>
    <section class="container pb-5 mb-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="col"></div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <script src="{{ url_for('static', filename='js/chartjs.min.js') }}"></script>
    <script type="application/javascript">
        const ctx = document.getElementById('myChart').getContext('2d');
        const labels = {{ users | map(attribute='username') | list | safe }};
        const data = {{ users | map(attribute='total') | list | safe }};

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Upload Ranking',
                    data: data,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgb(105,255,64, 0.2)',
                        'rgb(62,130,255, 0.2)',
                        'rgb(182,20,154, 0.2)',
                        'rgb(13,222,149, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgb(105,255,64, 1)',
                        'rgb(62,130,255, 1)',
                        'rgb(182,20,154, 1)',
                        'rgb(13,222,149, 1)'
                    ],
                    borderWidth: 4
                }]
            },
            options: {
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            color: 'rgb(27,76,173)'
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                }
            }
        });
        socket.on('statistics_updated', function () {
            window.location.reload()
        })
    </script>
{% endblock %}