{% extends "layouts/app.html" %}
{% block title %}Add Region{% endblock %}
{% block content %}
    {% include "partials/navbar.html" %}
    <section class="container mt-5">
        <div class="row justify-content-between mb-5">
            <div class="col-10">
                <a href="{{ url_for('region.index') }}" class="btn btn-dark btn-sm"><i
                        class="fas fa-arrow-left"></i>
                    Back to regions</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 pt-5 mt-5" style="margin-top: 100px!important;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Create Region</h5>
                        <hr>
                        <form class="form" autocomplete="off" method="post"
                              action="{{ url_for('region.create_region') }}">
                            <input type="hidden" autocomplete="false">
                            <div class="mb-3">
                                <input autofocus type="text" name="name" value="{{ request.form['name'] }}"
                                       class="form-control"
                                       placeholder="Region name">
                            </div>
                            <div class="mb-3">
                                <input type="text" name="abbr" value="{{ request.form['abbr'] }}" class="form-control"
                                       placeholder="Region abbreviation e.g. SW">
                            </div>

                            <button type="submit" class="float-end btn btn-primary btn-lg"><i class="fas fa-plus"></i>
                                Create Region
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </section>
{% endblock %}